.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: pink;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f9;
}
