.listItem {
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 10px;
  }
  .title {
    color: var(--semi-color-text-0);
    font-weight: 500;
    cursor: pointer;
  }
}
