.root {
  overflow: hidden;
  height: 100vh;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
}

.content {
  overflow: auto;
  max-height: calc(100vh - 64px);
  padding: 24px;
}
